<html>
	<head>
		<title>HotDeskApp Add Seat</title>
	</head>
	<body>
	<script src="static/HotDesk.js"></script>
		<h1>Hi, {{ user.nickname}}! </h1>
		
		<div><p>Good choise that you decided to add your desk to the HotDesk Pool</p></div>
		<FORM name="confirmAddDesk" action="/confirmAddDesk" method="POST" onsubmit="return verifyAddDeskForm()"
		{{ form.hidden_tag() }}
			<FIELDSET>
				<BR>Please enter date in DD/MM/YYYY format <BR>
				<BR>{{ form.indate.label 	}} {{ form.indate(size=10) 	}}
				<BR>{{ form.infloor.label 	}} {{ form.infloor(size=4) 	}}
				<BR>{{ form.indeskno.label 	}} {{ form.indeskno(size=4) }}
				<BR>{{ form.inremark.label 	}} {{ form.inremark() 		}}
				<BR>{{form.submit}}
			</FIELDSET>
		
		{% include 'common.html' %}