<html>
	<head>
		<title>Allocated Desks</title>
	</head>
	<body>
		<h1>Hi, {{ user.nickname}}! </h1>
		
		<table frame=box rules=ALL borger="5" >
			<THEAD>
				<TR>
					<TD>Floor Number
					<TD>Free Seat Number
					<TD>Free Date
					<TD>Comments
			<THEAD>
			<TBODY>
				{% for desk in allocatedDesk %}
				<TR>
					<TD>{{desk.floor }}
					<TD>{{desk.deskno }}
					<TD>{{desk.free_date }}
					<TD>{{desk.remark }}
				{% endfor %}
			</TBODY>
		</TABLE><BR>
		{% include 'common.html' %}